COCKROACH_DB_NAME=nakama
COCKROACH_DB_USER=root
COCKROACH_DB_PASSWORD=change-me

CLIENT_SERVER_HOST=localhost
CLIENT_SERVER_PORT=7350
CLIENT_SERVER_USE_SSL=false

NAKAMA_CONSOLE_USERNAME=admin
NAKAMA_CONSOLE_PASSWORD=change-me
NAKAMA_SERVER_KEY=defaultkey
NAKAMA_HTTP_KEY=change-me
NAKAMA_CONSOLE_SIGNING_KEY=change-me
NAKAMA_SESSION_ENCRYPTION_KEY=change-me
NAKAMA_SESSION_REFRESH_ENCRYPTION_KEY=change-me