COCKROACH_DB_NAME=nakama
COCKROACH_DB_USER=root
COCKROACH_DB_PASSWORD=change-me

NAKAMA_CONSOLE_USERNAME=admin
NAKAMA_CONSOLE_PASSWORD=change-me
NAKAMA_SERVER_KEY=defaultkey
NAKAMA_HTTP_KEY=change-me
NAKAMA_CONSOLE_SIGNING_KEY=change-me
NAKAMA_SESSION_ENCRYPTION_KEY=change-me
NAKAMA_SESSION_REFRESH_ENCRYPTION_KEY=change-me